<header>
  <h1>Header</h1>
</header>
<container>
  <%= display_user_logged_tag %>
  <%= link_to t('.signout'), signout_path, class: "signout-link"%>
  <h2>Here will be the body</h2>
</container>
<footer>
  <h2>This will be the footer</h2>
</footer>