#establishments-index { padding-top: $padding; }

.establishments-title-section {
  width: 150px;
  margin: auto;
}

#new_establishment_button {
  float: right;
  margin: 0 0 10px 0;
  font-family: 'Roboto';
}

table {
  width: 100%;
}
