.container { height: auto; }

.title-section { text-align: center; }

.section {
  border-bottom: solid #CCCCCC;
  border-bottom-width: 1px;
}

#info-user-profile {
  padding-bottom: $padding;

  #picture-profile {
    float: left;
    margin-right: $margin;
    width: 280px;

    #photo {
      position: absolute;
      margin: 12px 0 0 15px;
    }
  }

  #user-data {
    float: left;
    margin-left: $margin;

    input {
      @include size(250px 15px);
      margin: ($margin ) 0  0 ($margin / 4);
    }
  }

  #load-user-photo {
    @extend .small_yellow_button;
    margin: ($margin / 2) ($margin / 2) 0 ($margin * 2) !important;
   }
}

/*
#info-user-stablishments {
  .list-user-establishments {
    h3 { text-align: center; }
  }
}
*/

.empty-message { text-align: center; }

.gray-label {
  line-height: 2em;
  font-family: sans-serif;
  font-weight: bold;
  color: #6e6d6c;
}