#big-taco {
  width: 498px;
  height: 364px;
  margin-top: $margin * 4;
  float: left;
  top: 80px;
  left: 180px;
}

#signin-form {
  margin-top: $margin * 9;
  margin-left: $margin * 6;
  display: inline-table;
  position: absolute;
  float: left;

  top: 90px;
  left: 670px;

  form {
    display: inline-block;
    margin-bottom: $margin * 3.5;

    #login-button {
      float: right;
      margin-right: $margin / 2;

      input[type="submit"] {
        @extend .small_yellow_button;
      }
    }

    #auth_key, #password {
      @include size(170px 15px);
    }
  }

  #signup-link {
    margin: 0 0 ($margin / 2) $margin;

    a {
      color: brown;
      text-decoration: none;
    }
  }

  #login-social-buttons {
    margin-left: 20px;
    a { margin: 5px; }
  }
}