#signup-form {
  width: 300px;
  height: 350px;
  margin: auto;
  margin-top: $margin * 4;
  margin-bottom: $margin * 2;
  padding: 15px;
  background-color: #fac233;
  @extend .shadow-box;

  h1 {
    font-family: Merienda;
    font-weight: bold;
    font-size: 2em;
    color: $light-black;
    text-align: center;
    margin: $margin / 2;
  }

  form {
    label {
      display: inline-block;
      margin-top: $margin;
    }

    #name, #email, #password, #password_confirmation {
      @include size(170px 15px);
      float: right;
      margin-top: $margin;
    }

    input[type="submit"] {
      @extend .small_button;
      float: right;
      margin: ($margin * 1.5) ($margin/2) ($margin/2) ($margin/2) !important;
    }

    .error {
      display: inline-block;
      float: left;
      color: brown;
      margin-left: 110px;
      font-size: .9em;
      position: absolute;
    }
  }
}

.shadow-box {
  -moz-box-shadow:    5px 5px 40px 3px $light-gray;
  -webkit-box-shadow: 5px 5px 40px 3px $light-gray;
  box-shadow:         5px 5px 40px 3px $light-gray;
  border: 1px solid burlywood;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}