@import "bourbon";
@import "variables";
@import "purecss/menus";
@import "purecss/tables";
@import "font-awesome";
@import "sessions";
@import "profile";
@import "users";
@import "zocial";
@import "highlight/default";

html, body { height: 100%; }

section, div, article { overflow: hidden; }

body { margin: 0; }

footer { height: 20%; }

.container {
  width: grid-width(12);
  overflow: hidden;
  margin: 0 auto;
}

.big-logo-header {
  width: 927px;
  height: 443px;
  background: image-url("flannel.png") no-repeat;
  position: absolute;
  margin-left: $margin * 4;
}

.small-logo-header {
  width: 440px;
  height: 126px;
  background: image-url("mini-logo.png") no-repeat;
  position: absolute;
  margin-left: $margin * 4;
}

.logo-footer {
  width: 235px;
  height: 105px;
  float: right;
  position: relative;
  z-index: 800;
  background: image-url("foot-logo.png") no-repeat;
}

.main-header {
  height: 80px;
  width: 100%;
  background: image-url('background.jpg');

  #circles {
    width: 113px;
    height: 30px;
    background: image-url('circles.jpg');
    @include transform(rotate(180deg));
    margin-left: $margin;
    margin-top: $margin * 2.5;
    position: absolute;
  }

  #menu {
    list-style-type: none;
    margin: ($margin * 2) $margin ($margin) ($margin * 2);
    float: right;
    font-family: "Merienda";

    li {
      height: 40px;
      float: left;

      &:after {
        content: '|';
        margin-left: $margin;
        color: $marron;
      }

      &:last-child:after {content: '';}

      &:hover {
        background: $marron;
        a { color: $dark-yellow; }
      }

      a {
        color: $marron;
        font-weight: bold;
        font-size: 1.4em;
        text-decoration: none;
        margin-left: $margin;
      }
    }
  }
}

#logged-user {
  margin: $margin;

  .signout-link, .user-logged {
    float: right;
    font-family: Merienda;
    font-weight: bold;
    color: #9c4a4a;
  }

  .signout-link {
    @extend .small_red_button;
    font-size: .9em !important;
  }

  .user-logged { margin: 7px 20px; }
}

.main-footer {
  @extend .inner-shadow-top;
  height: 400px;
  width: 100%;
  background: image-url('background.jpg');
  margin-top: $margin;

  #circles {
    @extend .inner-shadow-top;
    width: 113px;
    height: 30px;
    display: inline-block;
    float: left;
    background: image-url('circles.jpg');
  }

  #legend {
    float: left;
    color: $marron;
    margin: ($margin / 4) 0 0 ($margin / 2);
    text-shadow: 0 1px $gray;
    z-index: 900;
    position: absolute;
  }
}

.alert {
  padding: ($padding / 2);
  margin-bottom: $margin;
  border-radius: 3px;
  border: 1px solid $red;
  background: rgba(253, 2, 2, 0.64);
  color: #800;
  opacity: 0.5;
  font-family: "Roboto";
  font-weight: bold;
  color: white;
  opacity: .9;
}

.notice {
  padding: ($padding / 2);
  margin-bottom: $margin;
  border-radius: 3px;
  border: 1px solid green;
  background-color: rgba(36,134,48,0.250);
  opacity: 0.5;
  font-family: "Roboto";
  color: #080;
}

.inner-shadow-top {
  -moz-box-shadow:    inset 0 7px 15px -5px $transparent-marron;
  -webkit-box-shadow: inset 0 7px 15px -5px $transparent-marron;
  box-shadow:         inset 0 7px 15px -5px $transparent-marron;
}

.shine-bottom {
  -moz-box-shadow:    0 7px 7px -1px #FDF7F7;
  -webkit-box-shadow: 0 7px 7px -1px #FDF7F7;
  box-shadow:         0 7px 7px -1px #FDF7F7;
}

.shadow-bottom {
  -moz-box-shadow:    1px 3px 5px -1px $light-gray;
  -webkit-box-shadow: 1px 3px 5px -1px $light-gray;
  box-shadow:         1px 3px 5px -1px $light-gray;
}

.box-shadow {
  -moz-box-shadow:    3px 3px 5px -2px $light-gray;
  -webkit-box-shadow: 3px 3px 5px -2px $light-gray;
  box-shadow:         3px 3px 5px -2px $light-gray;
  border: 1px solid $light-gray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
}

@mixin awesome_button($color, $margin, $padding){
  @include button(shiny, $color);
  margin: $margin;
  padding: $padding;
}

.small_yellow_button {
  @include awesome_button($dark-yellow, 4px, 5px 15px);
  font-size: .8em;
}

.small_red_button {
  @include awesome_button($red, 4px, 5px 15px);
  font-size: .8em;
}


.form {
  input[type="text"], input[type="email"], input[type="password"], textarea {
    font-size: .8em;
    padding: 5px;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    -moz-box-shadow: inset 0 0 3px $marron;
    -webkit-box-shadow: inset 0 0 3px $marron;
    box-shadow: inset 0 0 3px $marron;
    background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe), to(#ffffff));
    background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid $dark-yellow;
    margin-right: ($margin / 2);
    margin-bottom: 7px;
  }

  input:focus, textarea:focus {
    -webkit-box-shadow: 0px 0px 8px $marron;
    -moz-box-shadow: 0px 0px 8px $marron;
    box-shadow: 0px 0px 8px $marron;
  }

  textarea {
    font-size: .9em;
    @include size(400px 150px);
  }

  label {
    line-height: 2em;
    font-family: sans-serif;
    font-weight: bold;
    color: $gray;
  }
}

/*
  div         {
    margin-left: 0 !important;
    margin-top: $margin;

    .field_with_errors {
      margin: 0;
      display: inline-block;
      float: left;

      input, textarea { border: 1px solid $red; }

      .date {
        float:left;
        margin: 0 ($margin / 2) 0 0 !important;
      }
    }

    .error {
      font-size: .7em;
      color: $red;
      float: left;
      margin: ($margin / 4) ($margin / 4) ($margin / 4) 0;
    }
  }
*/
